{
  "SitePath" : "C:\\Users\\Jabbari\\Downloads\\sitescan.htm",
  "WsvToken":"",
  "WsvUser":"",
  "WsvPass":"",
  "project_Config":
    [
        {
          "projectname": "Dade Tamin",
          "project_isonline": "1",
          "SQL_server" : "LIg==",
          "SQL_username" : "zc82E=",
          "SQL_password" : "MTIz",
          "SQL_database_name" : "RW91kYWRfTW9zyaGFyZWthdFA==",
          "SQL_port" : "1433",
          "SqlType" : "Mssql",
          "OsType" : "Windows",
          "DiskPath" : "['/;50','/;50']",
          "DbBackupPath" : "false",
          "WebService":"['https://jsonplaceholder.typicode.com/todos/1']",
          "logPath" : "C:\\Users\\Jabbari\\Downloads\\",
          "errorLogPath" : "C:\\Users\\Jabbari\\Downloads\\",
          "MinimumDiskSize": "10",
          "LastBackupDate": "1",
          "Serial1":"0000000000",
          "Serial2":"0000000000",
          "offline_sitePath" : "C:\\Users\\Jabbari\\Downloads\\",
          "offline_history" : "10",
          "saveToFile":"0",
          "readFromFile":"1"
          
        }
        ,{
          "projectname": "Dade Tamin",
          "project_isonline": "1",
          "SQL_server" : "LIg==",
          "SQL_username" : "zc82E=",
          "SQL_password" : "MTIz",
          "SQL_database_name" : "RW91kYWRfTW9zyaGFyZWthdFA==",
          "SQL_port" : "1433",
          "SqlType" : "Mssql",
          "OsType" : "Windows",
          "DiskPath" : "['/;50','/;50']",
          "DbBackupPath" : "false",
          "WebService":"['https://jsonplaceholder.typicode.com/todos/1']",
          "logPath" : "C:\\Users\\Jabbari\\Downloads\\",
          "errorLogPath" : "C:\\Users\\Jabbari\\Downloads\\",
          "MinimumDiskSize": "10",
          "LastBackupDate": "1",
          "Serial1":"0000000000",
          "Serial2":"0000000000",
          "offline_sitePath" : "C:\\Users\\Jabbari\\Downloads\\",
          "offline_history" : "10",
          "saveToFile":"0",
          "readFromFile":"1"
          
        }
    ]

}
