{
  "project_Config":
    {
      "projectname": "Etrat Butorab",
      "project_isonline": "1",
      "SQL_server" : ".",
      "SQL_username" : "sa",
      "SQL_password" : "Sasapass!#@$",
      "SQL_database_name" : "Rmax_Butorab",
      "SQL_port" : "1433",
      "SqlType" : "Mssql",
      "OsType" : "Windows",
      "DiskPath" : "['d:','f:']",
      "DbBackupPath" : "D:\\DatabaseBackup\\data\\*.bak",
	  "logPath" : "D:\\Monitor\\",
      "errorLogPath" : "D:\\Monitor\\",
      "MinimumDiskSize": "10",
      "LastBackupDate": "1",
      "Serial1":"0000000000",
      "Serial2":"0000000000",
      "SitePath" : "E:\\RmaxPub\\sitescan.htm",
      "offline_sitePath" : "E:\\RmaxPub\\",
      "offline_history" : "10"
    }

}